.about-bg-img {
  background-image: linear-gradient(
      rgba(87, 130, 133, 0.3),
      rgba(87, 130, 133, 0.3)
    ),
    url(../../img/about-bg-img.jpg);
  height: 280px;
  background-position: center;
  background-size: cover;
}

.about-text {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
.about-text::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 64px;
  left: 48%;
  background-color: #e91e63;
  bottom: -50%;
}
.second-div {
  width: 35%;
}

.rotors-text::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 400px;
    left: 37%;
    background-color: #e91e63;
    bottom:29%;
}
