.custom-navlink{
    text-decoration: none;
    font-size: 21px;
}

.custom-color{
    background-color: rgb(26, 30, 53);
}

.dropdown{
    text-decoration: none;
}

div a{
    text-decoration: none;
}

.header-text{
    background-color: #25293F;
}

.nav-color{
    background-color: #FFF1D7;
   
}
.login-text{
    font-size: 15px;
}
.cursor{
 cursor: pointer;
}