.addyourpackage-frist-banner {
    background-image: linear-gradient(
        rgba(191, 180, 172, 0.137),
        rgba(88, 84, 80, 0.39)
      ),
      url(../../img/addyourpackage2.jpg);
    height: 280px;
    background-position: center;
    background-size: cover;
  }
  
  .addyourpackage-text {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
  }
  
  .addyourpackage-text::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 125px;
    left: 46%;
    background-color: #e91e63;
    bottom: -30%;
  }
  